.members {
    background-color: $button-background;
    padding: 60px 0px;
    text-align: center;
    @media screen and (min-width: 1200px) {
      padding: 94px 0px;
    }
  }
  
  .member-list {
    display: block;
    @media screen and (min-width:768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
  
  
  
  .card {
    max-width: 450px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
    
    @media screen and (max-width:767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    
    @media screen and (min-width:768px) {
      width: 354px;
      margin: 15px;
    }

    @media screen and (min-width:1200px) {
      width: 270px;
    }
  }
  
  .card-content {
    background-color: $secondary-title-color;
    padding-top: 30px;
    padding-bottom: 24px;
  }
  .members-name {
    color: $primary-title-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  
  .members-position {
    color: $primary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
  
  .soc-media-list {
    display: flex;
    justify-content: center;
  }
  .soc-media-item {
    display: block;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  
  .soc-media-link {
    display: flex;
  
    width: 44px;
    height: 44px;
  
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: $accent-color;
    }
    &:hover .soc-media-logo,
    &:focus .soc-media-logo {
    fill: #ffffff;
    }
  }
  
  .soc-media-logo {
    display: block;
    width: 20px;
    height: 20px;
    fill: $logo-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  