.work-list-item {
   margin: 15px;
}
.work-card {
  display: block;
  width: 100%;
  max-width: 450px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and (min-width:768px) {
    width: 354px;
  }

  @media screen and (min-width:1200px) {
    width: 370px;
  }
}
  
  
  
  .work-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    @media screen and (max-width:767px) {
      margin-top: 40px;
    }
  }
  
  .work-card-content {
    border-bottom: 1px solid $border;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    padding: 20px 18px;
  }
  .project-title {
    color: $primary-title-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  .project-type {
    color: $primary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
  }
  .work-image {
    
    position: relative;
    overflow: hidden;
    
  }
  .overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .work-card:hover &,
    .work-card:focus & {
    transform: translateY(0%);
  }
  
    
  }
  
  .overlay-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
   
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
  }