  $primary-title-color: #212121;
  $primary-text-color: #757575;
  $accent-color: #2196f3;
  $secondary-title-color: #ffffff;
  $button-background: #f5f4fa;
  $footer-background: #2f303a;
  $hero-background: #c4c4c4;
  $border: #eeeeee;
  $icon-background: #f5f4fa;
  $logo-color: rgba(175, 177, 184, 1);
  
  $logo-font: Raleway;
  $primary-text-font: Roboto;